/* ONLY ALLOWED HEX AND RGB COLOR CODES */

body {
    background-color: rgb(41, 41, 41);
    color:rgb(205, 205, 205);
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

img {
    float: left;
    margin-right: 2em;
}

.header {
    color:#ffe4c4
}

.link {
    color: rgb(66, 111, 189);
}